<h2>Genera tu horario</h2>
<div style="margin-top: 15px; margin-right:3rem; margin-left:3rem;">
  <form>
    <div fxLayout="row" fxLayoutAlign="space-between">

    <mat-form-field appearance="outline">
      <mat-label>Semestres</mat-label>
      <mat-select [(ngModel)]="selectedSemestre" name="semestre" (selectionChange)="cambioSemestre($event)" disableOptionCentering panelClass="testClass">
        <mat-option *ngFor="let semestre of semestres" [value]="semestre.value">
          {{semestre.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Materias</mat-label>
      <mat-select [(ngModel)]="selectedMateria" name="materia" (selectionChange)="cambioMaterias($event)" multiple>
        <mat-option *ngFor="let materia of materias" [value]="materia.value">
          {{materia.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Sección</mat-label>
      <mat-select [(ngModel)]="selectedSeccion" name="seccion"  (selectionChange)="cambioSeccion($event)" multiple >
        <mat-option *ngFor="let seccion of secciones" [value]="seccion.value">
          {{seccion.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Profesores</mat-label>
      <mat-select [(ngModel)]="selectedProfesores" name="seccion"  multiple >
        <mat-option *ngFor="let profesor of filterProfesores" [value]="profesor.value">
          {{profesor.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button style="margin-top: 9px;" mat-raised-button color="primary" (click)="onclickgen($event)">Generar Horario</button>
    </div>

  <!--   <mat-form-field appearance="fill">
      <mat-label>Favorite car</mat-label>
      <select matNativeControl [(ngModel)]="selectedCar" name="car">
        <option value="" selected></option>
        <option *ngFor="let car of cars" [value]="car.value">
          {{car.viewValue}}
        </option>
      </select>
    </mat-form-field>
    <p> Selected car: {{selectedCar}} </p> -->
  </form>

</div>
<app-calendar></app-calendar>
<!-- <div *ngIf="sabanaFlag">
  <mwl-calendar-week-view
 [viewDate]="viewDate"
 [events]="events">
</mwl-calendar-week-view>
</div>
 -->


